{% extends 'base.html' %}

{% block active_dashboard %}
    open active
{% endblock active_dashboard %}

{% block content %}
<script>
     $(document).ready(function() {
                var ctx = $("#chart-line-multi");
                var myLineChart = new Chart(ctx, {
                    type: 'pie',
                    data : {
                        labels: ["DoS", "PortScan", "Bot", "Brute-Force", "Web Attack", "Infiltration"],
                        datasets: [{
                            data: [parseFloat("{{result.DDoS_multi}}")+parseFloat("{{result.DoSGoldenEye_multi}}")+parseFloat("{{result.DoSSlowhttptest_multi}}")+parseFloat("{{result.DoSHulk_multi}}")+parseFloat("{{result.DoSSlowloris_multi}}")+parseFloat("{{result.Heartbleed_multi}}"), 
                            parseFloat("{{result.PortScan_multi}}"), 
                            parseFloat("{{result.Bot_multi}}"), 
                            parseFloat("{{result.SSHPatator_multi}}")+parseFloat("{{result.FTPPatator_multi}}"), 
                            parseFloat("{{result.BruteForce_multi}}")+parseFloat("{{result.Xss_multi}}")+parseFloat("{{result.SQLInjection_multi}}"), 
                            parseFloat("{{result.Infiltration_multi}}")],
                            backgroundColor: ["#0c1e3e", "#122c5a", "#38fbdb", "#fc0ff5", "#8e52f5", "#4cbb17"]
                        }]
                    },
                    options: {
                        title: {
                            display: true,
                            text: 'Типы атак',
                        }
                    }
                });
                var ctx = $("#chart-bar-multi");
                var myLineChart = new Chart(ctx, {
                    type: 'bar',
				data: {
					labels: ["Accuracy", "Precision", "Recall", "F1 Score", "ROC AUC"],
					datasets: [{
							data: [parseFloat("{{result.Accuracy_multi}}"), parseFloat("{{result.Precision_multi}}"), parseFloat("{{result.Recall_multi}}"), parseFloat("{{result.F1score_multi}}"), parseFloat("{{result.Roc_auc_multi}}")],
							backgroundColor: "#30ba8f"
						}
					]
				},
				options: {
					legend: {
						display: false
					},
					scales: {
						xAxes: [{
							barPercentage: 0.4,
							categoryPercentage: 0.5
						}]
					}
				}
                });
                
            });
</script>
<script>
    $(document).ready(function() {
               var ctx = $("#chart-line-bin");
               var myLineChart = new Chart(ctx, {
                   type: 'pie',
                   data : {
                       labels: ["Benign", "Attack"],
                       datasets: [{
                           data: [parseFloat("{{result.Benign_bin}}"), 
                           parseFloat("{{result.Attack_bin}}")],
                           backgroundColor: ["#0c1e3e", "#fc0ff5"]
                       }]   
                   },
                   options: {
                       title: {
                           display: true,
                           text: 'Типы пакетов',
                       }
                   }
               });
               var ctx = $("#chart-bar-bin");
               var myLineChart = new Chart(ctx, {
                   type: 'bar',
               data: {
                   labels: ["Accuracy", "Precision", "Recall", "F1 Score", "ROC AUC"],
                   datasets: [{
                           data: [parseFloat("{{result.Accuracy_bin}}"), parseFloat("{{result.Precision_bin}}"), parseFloat("{{result.Recall_bin}}"), parseFloat("{{result.F1score_bin}}"), parseFloat("{{result.Roc_auc_bin}}")],
                           backgroundColor: "#0c1e3e"
                       }
                   ]
               },
               options: {
                   legend: {
                       display: false
                   },
                   scales: {
                       xAxes: [{
                           barPercentage: 0.4,
                           categoryPercentage: 0.5
                       }]
                   }
               }
               });
               
           });
</script>
<!-- Overlay For Sidebars -->
<div class="overlay"></div>
<section class="content">
    <div class="container">
        <div class="row clearfix">
            <div class="col-lg-12"> 
                <div class="card">
                    <div class="body block-header">
                        <div class="row">
                            <div class="col-lg-6 col-md-8 col-sm-12 text-center">
                                <h2>Тестирование KNN нейросети для мультиклассовой классификации</h2>
                                                         
                            </div>
                            <div class="col-lg-6 col-md-4 col-sm-12 text-right">
                                <a href="{{ url_for('analyze') }}"> <button class="btn btn-outline-light btn-lg px-5" type="submit">К выбору интерфейса</button> </a>
                            </div>  
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Basic Examples -->
       
        <!--Мультиклассовая-->
        <div class="row clearfix">
            <div class="col-lg-6 col-md-6 col-sm-12"> <!--блок с дашбордом-->
                <div class="card" style="height: 100%">
                    <div class="card-header text-center">Статистика по пакетам</div>
                    <div class="card-body">
                        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div> <canvas id="chart-line-multi" class="chartjs-render-monitor" style="display: flex; width: 100%; height: 100%"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12"> <!--блок с карточками-->
                <div class="row clearfix">
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.Accuracy_multi*100}}" data-speed="1000" data-fresh-interval="700">{{ result.Accuracy_multi*100 }}</h2>
                                <p class="text-muted">Accuracy</p>                        
                            </div>
                            <span id="linecustom1">0,{{ result.Accuracy_multi*100 }}</span>
                        </div>
                    </div>
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.Total_multi}}" data-speed="2000" data-fresh-interval="700">{{ result.Total_multi }}</h2>
                                <p class="text-muted ">Total flows</p>                        
                            </div>
                            <span id="linecustom2">0,{{ result.Total_multi}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.Bot_multi}}" data-speed="2000" data-fresh-interval="700">{{result.Bot_multi}}</h2>
                                <p class="text-muted">Bot</p>                        
                            </div>
                            <span id="linecustom3">0, {{result.Bot_multi}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.DDoS_multi}}" data-speed="2000" data-fresh-interval="700">{{result.DDoS_multi}}</h2>
                                <p class="text-muted">DDoS</p>                        
                            </div>
                            <span id="linecustom4" >0, {{result.DDoS_multi}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.DoSGoldenEye_multi}}" data-speed="2000" data-fresh-interval="700">{{result.DoSGoldenEye_multi}}</h2>
                                <p class="text-muted">DDoS Golden Eye</p>                        
                            </div>
                            <span id="linecustom5" >0, {{result.DoSGoldenEye_multi}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.DoSHulk_multi}}" data-speed="2000" data-fresh-interval="700">{{result.DoSHulk_multi}}</h2>
                                <p class="text-muted">DoS Hulk </p>                        
                            </div>
                            <span id="linecustom6" >0, {{result.DoSHulk_multi}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.DoSSlowhttptest_multi}}" data-speed="2000" data-fresh-interval="700">{{result.DoSSlowhttptest_multi}}</h2>
                                <p class="text-muted">DoS Slowhttptest</p>                        
                            </div>
                            <span id="linecustom7" >0, {{result.DoSSlowhttptest_multi}}</span>
                        </div>
                    </div>
                    
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.DoSSlowloris_multi}}" data-speed="2000" data-fresh-interval="700">{{result.DoSSlowloris_multi}}</h2>
                                <p class="text-muted">DoS Slowloris</p>                        
                            </div>
                            <span id="linecustom8" >0, {{result.DoSSlowloris_multi}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.FTPPatator_multi}}" data-speed="2000" data-fresh-interval="700">{{result.FTPPatator_multi}}</h2>
                                <p class="text-muted">FTP-Patator</p>                        
                            </div>
                            <span id="linecustom9" >0, {{result.FTPPatator_multi}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6">
                <div class="card">
                    <div class="card-header text-center">Характеристики мультиклассовой нейронной сети</div>
                    <div class="card-body" style="height: 100%">
                        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div> <canvas id="chart-bar-multi" class="chartjs-render-monitor" style="display: block;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="row clearfix">
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.Heartbleed_multi}}" data-speed="2000" data-fresh-interval="700">{{result.Heartbleed_multi}}</h2>
                                <p class="text-muted">Heartbleed</p>                        
                            </div>
                            <span id="linecustom10" >0, {{result.Heartbleed_multi}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.Infiltration_multi}}" data-speed="2000" data-fresh-interval="700">{{result.Infiltration_multi}}</h2>
                                <p class="text-muted">Infiltration</p>                        
                            </div>
                            <span id="linecustom11" >0, {{result.Infiltration_multi}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.SSHPatator_multi}}" data-speed="2000" data-fresh-interval="700">{{result.SSHPatator_multi}}</h2>
                                <p class="text-muted">SSH Patator</p>                        
                            </div>
                            <span id="linecustom12" >0, {{result.SSHPatator_multi}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix">
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.BruteForce_multi}}" data-speed="2000" data-fresh-interval="700">{{result.BruteForce_multi}}</h2>
                                <p class="text-muted">BruteForce</p>                        
                            </div>
                            <span id="linecustom13" >0, {{result.BruteForce_multi}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.SQLInjection_multi}}" data-speed="2000" data-fresh-interval="700">{{result.SQLInjection_multi}}</h2>
                                <p class="text-muted">SQL Injection</p>                        
                            </div>
                            <span id="linecustom14" >0, {{result.SQLInjection_multi}}</span>
                        </div>
                    </div>
                    <div class="col-md-4 сol-lg-4 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.Xss_multi}}" data-speed="2000" data-fresh-interval="700">{{result.Xss_multi}}</h2>
                                <p class="text-muted">XSS</p>                        
                            </div>
                            <span id="linecustom15" >0, {{result.Xss_multi}}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-lg-12"> 
                <div class="card">
                    <div class="body block-header">
                        <div class="row">
                            <div class="col-lg-6 col-md-8 col-sm-12">
                                <h2>Тестирование LSTM нейросети для бинарной классификации</h2>                                                       
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row clearfix">
            <div class="col-md-6"> <!--блок с дашбордом-->
                <div class="card" style="height: 100%">
                    <div class="card-header text-center">Статистика по типу пакета</div>
                    <div class="card-body">
                        <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                            <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                            </div>
                            <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                            </div>
                        </div> <canvas id="chart-line-bin" class="chartjs-render-monitor" style="display: block;"></canvas>
                    </div>
                </div>
            </div>
            <div class="col-md-6"> <!--блок с карточками-->
                <div class="row clearfix">
                    <div class="col-md-3 сol-lg-3 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.Accuracy_bin*100}}" data-speed="1000" data-fresh-interval="700">{{ result.Accuracy_bin*100 }}</h2>
                                <p class="text-muted">Accuracy</p>                        
                            </div>
                            <span id="linecustom20">0,{{ result.Accuracy_bin*100 }}</span>
                        </div>
                    </div>
                    <div class="col-md-3 сol-lg-3 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.Total_bin}}" data-speed="2000" data-fresh-interval="700">{{result.Total_bin}}</h2>
                                <p class="text-muted">Total</p>                        
                            </div>
                            <span id="linecustom21">0, {{result.Total_bin}}</span>
                        </div>
                    </div>
                    <div class="col-md-3 сol-lg-3 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.Attack_bin}}" data-speed="2000" data-fresh-interval="700">{{result.Attack_bin}}</h2>
                                <p class="text-muted">Attack</p>                        
                            </div>
                            <span id="linecustom22">0, {{result.Attack_bin}}</span>
                        </div>
                    </div>
                    <div class="col-md-3 сol-lg-3 col-sm-12">
                        <div class="card overflowhidden">
                            <div class="body">
                                <h2 class="number count-to m-t-0 m-b-5" data-from="0" data-to="{{result.Benign_bin}}" data-speed="2000" data-fresh-interval="700">{{result.Benign_bin}}</h2>
                                <p class="text-muted">Benign</p>                        
                            </div>
                            <span id="linecustom23">0, {{result.Benign_bin}}</span>
                        </div>
                    </div>
                </div>
                <div class="row clearfix" >
                    <div class="card" style="height: 100%">
                        <div class="card-header text-center">Характеристики бинарной нейронной сети</div>
                        <div class="card-body">
                            <div class="chartjs-size-monitor" style="position: absolute; left: 0px; top: 0px; right: 0px; bottom: 0px; overflow: hidden; pointer-events: none; visibility: hidden; z-index: -1;">
                                <div class="chartjs-size-monitor-expand" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:1000000px;height:1000000px;left:0;top:0"></div>
                                </div>
                                <div class="chartjs-size-monitor-shrink" style="position:absolute;left:0;top:0;right:0;bottom:0;overflow:hidden;pointer-events:none;visibility:hidden;z-index:-1;">
                                    <div style="position:absolute;width:200%;height:200%;left:0; top:0"></div>
                                </div>
                            </div> <canvas id="chart-bar-bin" class="chartjs-render-monitor" style="display: block;"></canvas>
                        </div>
                    </div>
                </div>
            </div>
        </div>      
        <!-- #END# Basic Examples --> 
    </div>
  <!-- #END# Basic Examples -->   
</section>
{% endblock content %}